.comment_base {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-width: 1000px;
  background-color: white;
  align-items: center;
}
.comment_Top {
  position: fixed;
  width: 100%;
  max-width: 1000px;
}
.comment_Top_herder {
  width: 100%;
  top: 0;
  background-color: white;
  display: flex;
  font-size: 20px;
  padding: 15px 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  i {
    font-size: 25px;
    cursor: pointer;
  }
}
.comment_Form {
  width: 100%;
  height: 65px;
  background-color: lightgray;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 15px;
}
.comment_Form.avatar {
  width: 50px;
  box-sizing: content-box;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
.comment_Form.form {
  width: 90%;
  height: 45px;
  background-color: white;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  input {
    outline: none;
    background-color: inherit;
    border: none;
    width: 80%;
  }
  button {
    outline: none;
    background-color: inherit;
    border: none;
    color: rgba(0, 0, 0, 0.3);
  }
}
.comment_Box {
  background-color: white;
  height: 200px;
  width: 100%;
  padding: 0 10px;
  margin-top: 115px;
  box-sizing: border-box;
}
.comment_each {
  display: flex;
  padding: 0 20px;
  padding-top: 30px;
}
.comment_eachAvartar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.comment_eachText {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  h2 {
    font-size: 18px;
    font-weight: 800;
    margin-right: 8px;
  }
  i {
    margin-left: 10px;
    cursor: pointer;
  }
}
.comment_eachDate {
  font-size: 12px;
  color: gray;
}
