@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Playfair+Display:ital,wght@1,600&family=Red+Hat+Mono:ital,wght@1,300&display=swap");
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  margin-bottom: 80px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.headerBox {
  padding: 0 10px;
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.headerLogo {
  font-family: "Playfair Display", serif;
  font-size: 27px;
  color: dimgrey;
  user-select: none;
}
.serach {
  position: relative;
  display: flex;
  .searchBox {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
  }
  .searchCancle {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    cursor: pointer;
  }
}
.search_Bar {
  border: none;
  background-color: whitesmoke;
  height: 40px;
  border-radius: 5px;
  width: 100%;
  padding-left: 40px;
  outline: none;
}
.tabbar {
  padding-left: 50px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  color: darkgray;
  justify-content: space-between;
  font-size: 20px;
  i {
    cursor: pointer;
    transition: ease-in-out color 0.3s;
  }
  i:hover {
    color: black;
  }
}
