@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Playfair+Display:ital,wght@1,600&family=Red+Hat+Mono:ital,wght@1,300&display=swap");
header {
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  margin-bottom: 80px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 1000px;
}
.headerBox {
  padding: 0 10px;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.hedaerTitle {
  a {
    display: block;
    width: fit-content;
  }
}
.headerLogo {
  font-family: "Playfair Display", serif;
  font-size: 27px;
  color: dimgrey;
  user-select: none;
}
.serach {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .searchCancle {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    cursor: pointer;
  }
}

.search_Bar {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  display: flex;
  position: relative;
  .fa.fa-search {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    left: 0;
  }
  input {
    border: none;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding-left: 40px;
    padding-right: 20px;
    outline: none;
    height: 40px;
    width: 100%;
    border-radius: 5px;
  }
}
.tabbar {
  padding-left: 50px;
  padding-right: 20px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: right;
  color: darkgray;
  font-size: 20px;
  right: 0;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  i {
    cursor: pointer;
    transition: ease-in-out color 0.3s;
    margin-left: 10px;
  }
  i:hover {
    color: black;
  }
}
