mixin user(user)
    div.userBox
        a(href="/profile/"+user._id)
            div.userBox__img
                if user.avartarUrl
                    img(src=user.avartarUrl)
                else 
                    i.fa.fa-user-circle-o
        a(href="/profile/"+user._id)
            div.userBox__ect
                span=user.id
                p=user.name
