.homeBox {
  max-width: 1000px;
  width: 100%;
  display: flex;
  padding-top: 100px;
  position: relative;
}
.homeBox_one {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.friendBox {
  width: 100%;
  height: 150px;
  margin: 20px 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.postBox {
  width: 100%;
}
.postBox_each {
  margin-bottom: 30px;
}
.postHeader {
  width: 100%;
  padding: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .fa.fa-user-circle-o {
    font-size: 40px;
    color: darkgray;
  }
  .fa.fa-bars {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
  }
}
.postHeader_profile {
  display: flex;
  align-items: center;
  align-content: center;
  span {
    padding: 10px;
  }
}
.postImg {
  width: 100%;
}
.postBottom {
  width: 100%;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  box-sizing: border-box;
}
.postBottom_icons {
  color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  justify-content: space-between;
  padding: 20px 15px;
  display: flex;
  i {
    cursor: pointer;
  }
}
i:hover {
  color: black;
}

.postBottom_icons_one {
  display: flex;
  i {
    margin-right: 15px;
  }
  .deleteText {
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 150px;
    display: none;
    p {
      margin: 7px 0;
    }
  }
}
.postBottom_texts_like {
  position: absolute;
  font-size: 15px;
  left: 0;
  width: 100%;
  padding: 15px 15px;
  display: flex;
  span {
    margin-right: 5px;
  }
}
.postBottom_texts_text {
  font-size: 20px;
  span:first-child {
    font-weight: 800;
    margin-right: 10px;
  }
  padding: 20px 15px;
  padding-bottom: 5px;
  span {
    margin-right: 5px;
  }
}
.postBottom_texts_ect {
  padding: 10px 15px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  span:nth-child(2) {
    margin: 14px 0;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
  }
  span:last-child {
    font-size: 10px;
    color: darkgray;
  }
}
.homeBox_two {
  position: fixed;
  width: 40%;
  height: 500px;
  box-sizing: border-box;
  right: 0;
  padding: 30px;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
}
.homeBox_two_porfile {
  display: flex;
  width: 100%;
  max-width: 400px;
  align-items: center;
  padding: 20px 10px;
  left: 0;
  i {
    font-size: 70px;
    color: darkgray;
  }
  a {
    padding-left: 80px;
    color: cornflowerblue;
  }
}
.homeBox_two_name {
  display: flex;
  flex-direction: column;
  span {
    margin: 5px 0;
  }
  span:first-child {
    font-size: 20px;
    font-weight: 800;
  }
  span:nth-child(2) {
    color: darkgray;
  }
}
.postBottom_comments {
  width: 100%;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  input {
    height: 80px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    padding-right: 150px;
    box-sizing: border-box;
  }
  input:focus {
    outline: none;
  }
  button {
    width: 140px;
    height: 80px;
    font-size: 20px;
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.7);

    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  button:hover {
    background-color: dimgray;
    color: white;
  }
}
