@import "./reset.scss";
@import "./home.scss";
@import "./profile.scss";
@import "./partials/login.scss";
@import "./partials/join.scss";
@import "./partials/header.scss";
@import "./partials/upload.scss";
@import "./partials/datail.scss";

body {
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
  max-width: 1000px;
  span {
    font-size: 12px;
  }
  div {
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
