extends base
include mixins/post
include mixins/friend

block content
    include partials/header
    div.homeBox
        div.homeBox_one
            div.friendBox
                each friend in users
                    +friend(friend)
            div.postBox
                each post in uploads
                    +post(post)
    div.overlay#overlay
        div.overlay_box
            span.overlay_Q#overlay_Q
            div.overlay_A
                button.overlay_A_yes#overlay_yes 팔로우하기
                button.overlay_A_no#overlay_no 취소
block script 
    script(src="/static/js/like.js") 
    script(src="/static/js/home.js")