extends base

block content
    include partials/header
    div.topProfile
        div.topProfile_pic
            i.fa.fa-user-circle-o
        div.topProfile_ect
            div.topProfile_1
                h1=loggedInUser.id
                if loggedInUser._id === id
                    a.profileLink(href="") 프로필 편집
                    a(href="")
                        i.fa.fa-cog
            div.topProfile_2
                div 
                    span 게시물
                    span=count
                div 
                    span 팔로워
                    span 0
                div 
                    span 팔로우
                    span 1
            span.topProfile_3=loggedInUser.name
    div.botProfile
        div.botProfile_tags
            div
                i.fa.fa-th
                span 게시물
            div
                i.fa.fa-star
                span 태그함
            div 
                i.fa.fa-heart
                span 태그된 게시물
        div