footer 
    div
        span Jengwoo 
        span 소개
        span 블로그
        span 채용 정보
        span 도움말
        span API
        span 개인정보처리방침
        span 약관
        span 인기 계정
        span 해시태그
        span 위치
        span Instagram Lite
    span 한국어▽  &copy; #{new Date().getFullYear()} Instagram from Jengwoo