header
    div.headerBox
        h1.headerLogo Instagram
        div.serach#serach
            div.searchBox#searchBox  
                i.fa.fa-search
            input.search_Bar(type="text" placeholder = "검색")
            div.searchCancle#searchCancle
                i.fa.fa-times
        div.tabbar#tabbar
            a(href="/home") 
                i.fa.fa-home
            i.fa.fa-share
            a(href="/upload") 
                i.fa.fa-plus-square-o 
            i.fa.fa-film
            i.fa.fa-heart-o