header
    div.headerBox
        div.hedaerTitle
            a(href="/home").headerLogo Instagram
        div.serach#serach
            form.search_Bar(method="GET", action = "/search") 
                i.fa.fa-search
                input(type="text" placeholder = "검색", name ="keyword")
        div.tabbar#tabbar
            a(href="/home") 
                i.fa.fa-home
            a(href="/upload") 
                i.fa.fa-plus-square-o
            a(href="/like/" +loggedInUser._id) 
                i.fa.fa-heart
            a(href="/logout")
                i.fa.fa-sign-out
            a(href="/profile/"+loggedInUser._id)
                i.fa.fa-user-circle-o